[submodule "frequency_count"]
	path = models/frequency_count
	url = git@github.com:Menaures/frequency_count.git
[submodule "stop_watch"]
	path = models/stop_watch
	url = git@github.com:Menaures/stop_watch.git
[submodule "models/motor_controller"]
	path = models/motor_controller
	url = git@github.com:Menaures/motor_controller.git
